.main-nav {
    justify-content: center;
    &__list {
        @include reset;
        display: flex;
        justify-content: center;        
    }

    &__link {
        padding: 0 32px;
        text-decoration: none;
        color: $blue;
        font-size: 13px;
        line-height: 16px;

        &--active {
            color: $black;
        }
    }
}