.main {
    background: url('../../img/main-bg.jpg') no-repeat center 0;

    &__wrap {
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.9500175070028011) 85%, rgba(255,255,255,0) 100%);
    }

    &__inner {
        max-width: 770px;
        margin: 0 auto;        
    }

    &__header {        
        margin: 0;
        text-align: center;
        padding-top: 122px;
        margin-bottom: 65px;
        font-size: 70px;
        line-height: 70px;
        color: $black;
        font-weight: 100;             
    }
}